@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("Js/HomePageCntrl")
@Html.Partial("Filters/CustomFiltersJs")
@Html.Partial("Directives/FileUploadDirectivePartial")

<div ng-controller="HomePageCntrl">
    <div class="container-fluid">
        <div class="row">
            <files-upload-control refresh="getfilesList()">
            </files-upload-control>
        </div>
    </div>
    
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@DocsManagerResources.FileName_tableLabel</th>
                    <th>@DocsManagerResources.FileSize_tableLabel</th>
                    <th>@DocsManagerResources.FileType_tableLabel</th>
                    <th>@DocsManagerResources.DocumentManager_tableLabel</th>
                    <th>@DocsManagerResources.DocumentApplication_tableLabel</th>
                    <th>@DocsManagerResources.DocumentCompany_tableLabel</th>
                    <th>@DocsManagerResources.DocumentCreationDate_tableLabel</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in files">
                    <td>{{file.FileName | cutextension}}</td>
                    <td>{{file.FileSize | convertsize}}</td>
                    <td>{{file.FileType | converttype}}</td>
                    <td>{{file.Manager | hideNoInfo}}</td>
                    <td>{{file.Application | hideNoInfo}}</td>
                    <td>{{file.Company | hideNoInfo}}</td>
                    <td>{{file.CreatedDate | date : 'short'}}</td>
                    <td>
                        <button type="button"
                                ng-click="downloadDocument(file)"
                                class="btn btn-primary">
                            <i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button"
                                ng-click="removeDocument(file)"
                                class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group" ng-repeat="page in pages">
                <button type="button" ng-class="page == currentPage ? 'btn btn-primary': 'btn btn-default'" ng-click="selectPage(page)">{{page}}</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">@DocsManagerResources.PagesCount_label&nbsp;<span class="badge">{{filesCount}}</span></button>
            </div>
        </div>
    </div>
</div>
