@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("Js/HomePageCntrl")
@Html.Partial("Filters/CustomFiltersJs")

@Html.Partial("Directives/FileUploadDirectivePartial")


<div ng-controller="HomePageCntrl">
    <div class="container-fluid">
        <div class="row">
            <files-upload-control uploadfile-url="'@Url.Action("UploadDocument", "Documents")'"
                                  removefile-url="'@Url.Action("DeleteFile", "Documents")'">
            </files-upload-control>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>file name</th>
                <th>file size</th>
                <th>file type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in filesFromDb">
                <td>{{file.FileName}}</td>
                <td>{{file.FileSize}}</td>
                <td>{{file.FileType}}</td>
                <td>
                    <button id="edit_{{resolution.Id}}"
                            type="button"
                            class="btn btn-warning"
                            ng-if="resolution.IsInUse === false"
                            ng-click="showEditResolution(resolution)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button"
                            ng-click="remove(file)"
                            class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>

</div>