
<script type="text/ng-template" id="docsManager.filesTemplate">
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-6">
            <div class="btn btn-primary" type="file" ngf-select="prepareToUpload($files)" multiple>
                @DocsManagerResources.SelectFiles_fileupload_label
            </div>
        </div>
    </div>
    <div class="row"><br /></div>
    <div class="progress" ng-show="progress >= 0">
        <div class="progress-bar" role="progressbar" ng-bind="progress + '%'" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: {{progress}}%;">
            <span class="sr-only">{{progress}}% complete</span>
        </div>
    </div>
    <div class="row" ng-repeat="file in filesList">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" ng-style="file.validextension && {'border':'1px solid green'} || {'border': '1px solid red'}">
                    {{file.validextension}}{{file.name}} <span class="badge">{{file.size | convertsize}}</span>
                </li>
                <li class="list-group-item" ng-style="file.validextension && {'border':'1px solid green'} || {'border': '1px solid red'}">
                    @DocsManagerResources.SelectFiles_fileupload_label
                    <span class="badge">{{file.lastModifiedDate | date : 'short'}}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <button type="button"
                    ng-click="remove(file)"
                    class="btn btn-danger">
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="btn btn-success" ng-click="uploadFiles()" ng-disabled="filesValid == false" ng-if="filesList.length>0">upload files <span class="badge">{{filesList.length}}</span></div>
        </div>
    </div>
    <br />
</script>

<script type="text/javascript">
    var app = angular.module('app');
    app.directive('filesUploadControl', [
        '$http', '$rootScope', 'Upload', '$timeout', function ($http, $rootScope, $upload, $timeout) {
            return {
                scope: {
                    refresh: '&'
                },
                templateUrl: 'docsManager.filesTemplate',
                link: function ($scope) {

                    $scope.filesList = [];
                    $scope.filesValid = false;

                    $scope.$watchCollection(
                        "filesList",
                        function( newValue, oldValue ) {
                            if ($scope.filesList.length > 0) {
                                for (var i = 0; i < $scope.filesList.length; i++) {
                                    if ($scope.filesList[i].validextension === false) {
                                        $scope.filesValid = false;
                                        break;
                                    } else {
                                        $scope.filesValid = true;
                                    }
                                }
                            }
                        }
                    );

                    $scope.prepareToUpload = function (files) {
                        for (var i = 0; i < files.length; i++) {
                            var fileExtenstion = files[i].name.split('.').pop();
                            if (fileExtenstion.toLowerCase() === 'doc' || fileExtenstion.toLowerCase() === 'docx') {
                                files[i].validextension = true;
                                $scope.filesList.push(files[i]);
                            } else {
                                files[i].validextension = false;
                                $scope.filesList.push(files[i]);
                            }
                           }
                    }

                    $scope.uploadFiles = function () {
                        if ($scope.filesValid === true) {
                            var files = $scope.filesList;
                            if (files && files.length) {
                                $upload.upload({
                                    url: '@Url.Action("UploadMultiplyDocs", "Documents")',
                                    data: {
                                        files: files
                                    }
                                }).then(function (response) {
                                    $scope.filesList = [];
                                    $timeout(function () {
                                        $rootScope.showSuccess('@DocsManagerResources.FilesUploadedMessage_fileupload_label');
                                        $scope.refresh();
                                        $scope.result = response.data;
                                        $scope.progress = -1;
                                    });
                                }, function (response) {
                                    if (response.status > 0) {
                                        $timeout(function() {
                                            var message = response.status + ': ' + response.statusText;
                                            $rootScope.showError(message);
                                            $scope.progress = -1;
                                        });
                                        }
                                }, function (evt) {
                                    $scope.progress =
                                        Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                                });
                            }
                        }

                    };

                    $scope.remove = function (file) {
                        var index = $scope.filesList.indexOf(file);
                        $scope.filesList.splice(index, 1);
                        $rootScope.showSuccess(file.name + ' @DocsManagerResources.FileRemoved_message');
                    }


                }

            }
        }
    ]);
</script>
